In [4]:
import pandas as pd
from cvxopt.modeling import variable, op

In [57]:
input_data = {
    'N1': [1, 5, 10],
    'N2': [3, 2, 12],
    'N3': [2, 4, 16],
    'N4': [2, 2, 10],
    'N5': [1, 0, 1],
    'price': [2, 3]
}
dataTable = pd.DataFrame.from_dict(input_data, orient='index', columns=['x1', 'x2', 'volume'])

In [58]:
for column in dataTable.columns[:-1]:
    dataTable[column][:-1] = dataTable[column][:-1] / sum(dataTable[column][:-1])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
dataTable

             x1        x2  volume
N1     0.111111  0.384615    10.0
N2     0.333333  0.153846    12.0
N3     0.222222  0.307692    16.0
N4     0.222222  0.153846    10.0
N5     0.111111  0.000000     1.0
price  2.000000  3.000000     NaN

In [108]:
x = variable(2, 'x')
z = -(30*x[0] +1*x[1])

In [27]:
z = -1 * sum([productValue * x[i] for i, productValue in enumerate(input_data['price'])])

In [139]:
limitations = []
for componentNumber in range(dataTable.shape[0] - 1):
    equation = []
    cond = ''
    for i, componentFraction in enumerate(dataTable.iloc[componentNumber, :-1]):
        cond += '{}*x{} + '.format(round(componentFraction, 2), i)
        equation.append(componentFraction * x[i])
    cond = cond[:-3] + ' <= {}'.format(dataTable.iloc[componentNumber, -1])
    print(cond)
    eq = sum(equation) <= int(dataTable.iloc[componentNumber, -1])
    limitations.append(eq)

0.11*x0 + 0.38*x1 <= 10.0
0.33*x0 + 0.15*x1 <= 12.0
0.22*x0 + 0.31*x1 <= 16.0
0.22*x0 + 0.15*x1 <= 10.0
0.11*x0 + 0.0*x1 <= 1.0

In [125]:
problem = op(z, limitations)
problem.solve(solver='glpk')

In [131]:
print(x.value)

[ 9.00e+00]
[ 2.34e+01]

In [134]:
2 * x.value[0] + 3 * x.value[1]

88.19999999999999