In [1]:
import pandas as pd

In [2]:
input_data = {
    'A1': [12, 11, 25, 17, 21, 17],
    'A2': [22, 18, 14, 8, 1, 14],
    'A3': [9, 13, 2, 28, 15, 21],
    'A4': [26, 21, 3, 4, 27, 43],
    'Demand': [19, 22, 23, 17 ,14, 0],
}

dataTable = pd.DataFrame.from_dict(input_data, orient='index', columns=['B1', 'B2', 'B3', 'B4', 'B5', 'Stock'])
dataTable

        B1  B2  B3  B4  B5  Stock
A1      12  11  25  17  21     17
A2      22  18  14   8   1     14
A3       9  13   2  28  15     21
A4      26  21   3   4  27     43
Demand  19  22  23  17  14      0

In [3]:
if dataTable.shape[0] == dataTable.shape[1]:
    print('Model is balanced')
else:
    print('Model is not balanced')

Model is not balanced

In [4]:
sum(dataTable.iloc[-1, :])

95

In [5]:
sum(dataTable.Stock)

95

In [ ]:
transport_cost = 0
while sum(dataTable.iloc[-1, :]) != 0 and sum(dataTable.Stock) != 0:
    min_element = [0, 0]
    for i in range(dataTable.shape[0] - 1):
        for j in range(dataTable.shape[1] - 1):
            if dataTable.iloc[i, j] < dataTable.iloc[min_element[0], min_element[1]]:
                min_element = [i, j]
    diff = min(dataTable.iloc[min_element[0], -1], dataTable.iloc[-1, min_element[1]])
    transport_cost += diff * dataTable.iloc[min_element[0], min_element[1]]
    if diff != 0:
        print('{}*{} + '.format(diff, dataTable.iloc[min_element[0], min_element[1]]))
    dataTable.iloc[min_element[0], min_element[1]] = 9999
    dataTable.iloc[min_element[0], -1] -= diff
    dataTable.iloc[-1, min_element[1]] -= diff

14*1 +
21*2 +
2*3 +
17*4 +

In [30]:
dataTable

          B1    B2    B3    B4    B5  Stock
A1      9999  9999  9999  9999  9999      0
A2      9999  9999  9999  9999  9999      0
A3      9999  9999  9999    28  9999      0
A4      9999  9999  9999  9999    27      0
Demand     0     0     0     0     0      0